:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.nav {
  display: flex;
  gap: 1em;
  border-bottom: 2px solid blue;
  padding-bottom: 0.5em;
  margin-bottom: 2em;
}

.nav li {
  list-style: none;
}

.selected-tab {
  border-bottom: 4px solid gold;
}

.nav button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.items li {
  list-style: none;
  border-bottom: 1px solid grey;
  padding-bottom: 0.5em;
}

.item {
  display: flex;
}

.item-middle {
  display: inline;
  text-align: left;
  margin-left: 0.5em;
}

.item-name {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.item-end {
  text-align: right;
  margin-left: auto;
}

.item-end button {
  margin-top: 0.7em;
  margin-bottom: 0.4em;
  border: 2px solid gold;
  padding: 0.5em 1em;
  background-color: transparent;
}
